.chatBg {
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
}

.spy {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.card {
  border-radius: 10px;
}
