<div class="bg-color">
  <div>
    <div
      class="px-4 w-100 d-flex nav-height justify-content-between align-items-center"
    >
      <div class="d-flex align-items-center">
        <img
          class="rounded-circle my-dp"
          src="{{ api.CurrentSelectedUser.profileImage }}"
        />

        <h5 class="mx-4 singleLine">{{ api.CurrentSelectedUser.userName }}</h5>
      </div>
      <span>
        <img
          class="iconSize"
          src="https://img.icons8.com/external-neu-royyan-wijaya/32/null/external-more-neu-development-neu-royyan-wijaya.png"
        />
      </span>
    </div>
  </div>

  <div class="bg-light chatBg spy py-4" id="chat_div" #chatBox>
    <div class="w-100 px-5" *ngFor="let chat of api.chatsWithSelectedUser">
      <div
        class="row w-100 d-flex justify-content-start"
        *ngIf="chat.senderId != api.LoggedUserData._id; else senderUI"
      >
        <div class="card p-2 m-2" style="max-width: 350px">
          <img
            class="w-100 rounded"
            style="height: auto"
            src="{{ chat.imageUrl }}"
            alt=""
            *ngIf="chat.imageUrl.trim() != ''"
          />
          <p *ngIf="chat.message != 'none'">{{ chat.message }}</p>

          <h6 class="w-100 text-end">
            {{ chat.timeStamp | date : "shortTime" }}
          </h6>
        </div>
      </div>
      <ng-template #senderUI>
        <div class="row d-flex justify-content-end">
          <div class="card p-2 m-2" style="max-width: 350px">
            <img
              class="w-100 rounded"
              style="height: auto"
              src="{{ chat.imageUrl }}"
              alt=""
              *ngIf="chat.imageUrl.trim() != ''"
            />

            <p *ngIf="chat.message != ''">{{ chat.message }}</p>

            <h6 class="w-100 text-end">
              {{ chat.timeStamp | date : "shortTime" }}
            </h6>
          </div>
        </div>
      </ng-template>
    </div>
  </div>

  <div
    class="bg-color w-100 d-flex justify-content-between align-items-center nav-height"
  >
    <img
      class="mx-4"
      src="https://img.icons8.com/officexs/30/null/add-image.png"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      data-bs-auto-close="outside"
    />

    <form class="dropdown-menu p-4" style="height: 350px; width: 300px">
      <div class="mb-3">
        <img
          class="w-100 rounded object-fit-contain"
          src="{{ selectedImageUrl }}"
          alt="None"
          style="height: 200px"
        />
        <input
          type="file"
          accept="image/*"
          class="form-control mt-2"
          (change)="openImagePicker($event)"
        />
      </div>
      <div class="w-100 d-flex justify-content-evenly">
        <button
          type="submit"
          class="btn btn-primary w-50 me-1"
          (click)="uploadImage()"
        >
          UPLOAD
        </button>
        <button
          type="submit"
          class="btn btn-primary w-50"
          (click)="cancelMessage()"
        >
          CANCEL
        </button>
      </div>
    </form>

    <input
      class="form-control form-control-lg me-4"
      placeholder="Type Message.."
      style="border-radius: 25px"
      [(ngModel)]="chat.message"
    />
    <img
      class="me-4"
      src="https://img.icons8.com/fluency/48/null/sent.png"
      style="height: 35px; width: 35px"
      role="button"
      (click)="sendMessage()"
    />
  </div>
</div>
